# Git Ignore Patterns

# compiled Python byte code
__pycache__/
*.py[cod]
*$py.class

# PyCharm IDE project files
.idea/

# AdventOfCode.com session cookie
session-cookie.txt
.env

# virtualenv
venv/
